body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/* header */
.container-header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-link {
  display: block;
  padding: 26px 0;
  line-height: 1.75;
}
.current {
  font-weight: 600;
  font-size: 16px;
}
.header-list-btn {
  display: flex;
  gap: 21px;
  margin-left: auto;
}
.header-item-btn {
  height: 42px;
  border-radius: 4px;
  font-weight: 600;
}
.header-btn {
  height: 42px;
  border-radius: 4px;
  font-weight: 600;
}
.header-btn-in {
  min-width: 105px;
  border: 1px solid #bcd0e5;
  background-color: transparent;
  color: #173a56;
}
.header-btn-up {
  min-width: 113px;
  border: none;
  background-color: #02897a;
  color: #fff;
}
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text-wrap {
  width: 465px;
}
.hero-title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  width: 372px;
}
.hero-text {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 45px;
}
.hero-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-btn-start {
  min-width: 178px;
  border-radius: 4px;
  height: 53px;
  background: #02897a;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.hero-btn-start:hover,
.hero-btn-start:focus {
  background-color: #173a56;
}

.hero-btn-watch {
  min-width: 164px;
  height: 23px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;

  color: #02897a;
  background-color: transparent;
  border: none;
}
/* product */
.product {
  padding: 50px 0;
}
.product-title {
  width: 535px;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 76px;
}
.product-item {
  width: calc((100% - 90px) / 4);
}
.product-icon-wrapper {
  width: 54px;
  height: 54px;
  border-radius: 19px;
  background: #02897a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
.product-icon-wrapper-second {
  background: #4d8dff;
}
.product-icon-wrapper-third {
  background: #740a76;
}
.product-icon-wrapper-fourth {
  background: #f03e3d;
}
.product-icon {
  fill: #fff;
}
.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.product-text {
  font-size: 16px;

  line-height: 1.625;
}
.product-btn {
  min-width: 175px;
  height: 53px;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
}
.product-btn:hover,
.product-btn:focus {
  background-color: #173a56;
}
/* managment */
.managment {
  padding: 50px 0;
}
.managment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.managment-text-wrap {
  width: 486px;
}
.managment-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}
.managment-title-part {
  font-weight: 700;
  font-size: 32px;
}
.managment-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 30px;
}
.managment-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.managment-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
}
.managment-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}
.customer {
  padding: 50px 0;
}
.customer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-wrap {
  width: 450px;
}

.customer-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.customer-title-part {
  font-weight: 700;
  font-size: 32px;
}
.customer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 30px;
}

.customer-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.customer-item-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
}

.customer-icon-wrapper {
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background: #f90;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.customer-icon-wrapper-second {
  background-color: #f03e3d;
}
.customer-icon-wrapper-third {
  background-color: #4d8dff;
}
.customer-icon {
  fill: #fff;
}

.customer-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

.process {
  padding-top: 100px;
  padding-bottom: 50px;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}
.process-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  width: 542px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 100px;
  justify-content: center;
  margin-bottom: 50px;
}
.process-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.process-text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 281px;
  height: 50px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 50px;
}
.process-text {
  font-weight: 500;
}
.process-btn {
  min-width: 216px;
  height: 53px;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  background: #02897a;
  border: none;
}
.process-btn:hover,
.process-btn:focus {
  background-color: #173a56;
}
.contents {
  padding-top: 50px;
  padding-bottom: 85px;
}

.contents-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}
.contents-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 40px;
  width: 465px;
}
.contents-list {
  display: flex;
  gap: 30px;
}
.contents-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  width: calc((100% - 60px) / 3);
}
.contents-card-link:hover .contents-subtitle,
.contents-card-link:focus .contents-subtitle {
  color: #02897a;
}

.contents-card-link:hover .content-desk-part,
.contents-card-link:focus .content-desk-part {
  color: #2a618e;
}

.contents-text-wrap {
  padding: 24px 24px 40px 24px;
}
.contents-desk {
  line-height: 1.75;
  margin-bottom: 12px;
  font-weight: 500;
  width: 465px;
}
.content-desk-part {
  font-weight: 700;
}
.contents-subtitle {
  font-size: 24px;
  line-height: 1.67;
}
.footer {
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer-wrapper {
  display: flex;
  margin-bottom: 16px;
}
.footer-logo-wrap {
  margin-right: 146px;
}
.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #edfffc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #a5ebe3;
}

.footer-soc-icon {
  stroke-width: 2px;
  stroke: #02897a;
}
.footer-resourse-wrap {
  margin-right: 129px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  display: block;
}
.footer-link {
  line-height: 2.1875;
}
.footer-stuff-wrap {
  margin-right: auto;
}
.footer-form-wrap {
  width: 325px;
}
.footer-title-form {
  width: 280px;
  display: block;
  margin-bottom: 30px;
}

.footer-label {
  position: relative;
  display: block;
  margin-bottom: 25px;
}
.footer-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-input {
  width: 325px;
  height: 48px;
  outline: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding-left: 42px;
}
.footer-input::placeholder {
  line-height: 1.75;
  color: #02897a;
}
.footer-form-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  min-width: 131px;
  height: 39px;
  border-radius: 4px;
  background-color: #02897a;
  border: none;
}
.footer-title-text {
  line-height: 1.875;
  text-align: center;
}
